@import "../../styles/sassGlobal.scss";

.tech {
  display: flex;
  justify-content: space-evenly;
  background-color: $black_secondary;
  width: 120rem;
  margin: 6rem;
  transform: skewX(15deg) translateX(10rem);

  &_preview {
    background-color: $orange-mid;
    width: 35%;
    text-align: center;
    &_img {
      transform: skewX(-15deg);
      background-color: white;
      overflow: hidden;
      clip-path: circle(50% at 50% 50%);
    }
  }
  &_content {
    transform: skewX(-15deg);
    width: 65%;
    height: 100%;
    padding: 3rem;
    &_title {
      text-align: center;
      font-size: 2.5rem;
      color: $orange-light;
    }
    &_text {
      font-size: 2rem;
    }
  }
}
