@import "../../styles/sassGlobal.scss";
.tech_box {
  text-align: center;
  margin: 15rem 0;
  height: 50rem;
  .heading_secondary {
    text-transform: uppercase;
    text-shadow: 0 0 7px $orange-mid, 0 0 7px $orange-mid, 0 0 7px $orange-mid, 0 0 7px;
    font-size: 4rem;
    display: inline-block;
  }
  .stack_icon {
    display: inline-block;
    height: 8rem;
    width: 10rem;
    background-image: url("/images/fire.png");
    background-size: cover;
    cursor: pointer;
    &:hover {
      background-image: url("/images/fire2.png");
    }
  }
}
.techs {
  position: relative;
  margin: 0 8rem;
  height: 40rem;
  border-radius: 1rem;
  background-image: linear-gradient(to bottom, black, blue, white);
}
